# system files
.DS_Store

# latex
*.aux
*.log
*.out
*.toc
*.tex

# python trash
__pycache__
.pytest_cache/

# environment
env
.venv/

# models
models/
*.joblib

# temporarily
optimizing_spatial_filters_eeg.pdf
